@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Light.woff2") format("woff2"), url("fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("fonts/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Ultralight.woff2") format("woff2"), url("fonts/SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("fonts/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF UI Display';
  src: url("fonts/SFUIDisplay-Black.woff2") format("woff2"), url("fonts/SFUIDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

:root {
  --con: 15px;
  --cont: 740px; }
  @media (min-width: 768px) {
    :root {
      --con: calc((100vw - var(--cont)) / 2); } }
  @media (min-width: 1024px) {
    :root {
      --cont: 960px
    ; } }
  @media (min-width: 1200px) {
    :root {
      --cont: 1180px
    ; } }

.title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }
  .title__blue {
    display: block;
    color: #2F3DFB;
    font-weight: 700; }
  .title--login {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 48px;
      line-height: 56px; } }
  @media screen and (min-width: 1024px) {
    .title {
      font-size: 55px;
      line-height: 66px; } }

.subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px; }
  .subtitle--lined {
    position: relative;
    margin: 0 0 40px; }
    .subtitle--lined::after {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 15px;
      height: 5px;
      width: 40px;
      background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
      background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
      border-radius: 200px; }
      @media (min-width: 768px) {
        .subtitle--lined::after {
          left: 0;
          bottom: -28px; } }
    @media (min-width: 768px) {
      .subtitle--lined {
        padding: 0;
        margin-bottom: 50px; } }
  @media screen and (min-width: 1024px) {
    .subtitle {
      font-size: 35px;
      line-height: 40px; } }

.btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  background: -o-linear-gradient(353.05deg, #FE5487 -15.73%, #2F37FE 44.6%, #3DACD0 106.25%);
  background: linear-gradient(96.95deg, #FE5487 -15.73%, #2F37FE 44.6%, #3DACD0 106.25%);
  background-size: 100%;
  border-radius: 200px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none; }
  .btn:hover {
    background-size: 400%; }
  @media screen and (min-width: 768px) {
    .btn {
      width: 230px;
      font-size: 13px;
      line-height: 30px;
      padding: 15px 0; } }
  .btn[disabled] {
    background: #CBCBCB;
    opacity: 0.2; }
  .btn--white {
    border: 2px solid #fff;
    background: none;
    background-color: transparent; }
    .btn--white:hover {
      background-color: #fff;
      color: #3148F7; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (min-width: 768px) {
    .header {
      padding-left: var(--con);
      padding-right: var(--con); } }
  .header--login .header__nav,
  .header--login .header__btns {
    display: none; }
  @media screen and (max-width: 768px) {
    .header--menu-open {
      padding-bottom: 50px; }
      .header--menu-open .header__nav {
        display: block; }
      .header--menu-open .menu-mobile__close-text {
        display: block; }
      .header--menu-open .menu-mobile__icon {
        opacity: 0; }
      .header--menu-open .menu-mobile__icon--close {
        opacity: 1; }
    .header__nav {
      display: none; } }
  @media screen and (min-width: 768px) {
    .header {
      padding-top: 28px; } }
  @media screen and (min-width: 1024px) {
    .header {
      -webkit-column-gap: 95px;
         -moz-column-gap: 95px;
              column-gap: 95px; }
      .header__nav {
        margin-left: auto; } }

.logo {
  width: 85px; }
  @media screen and (min-width: 768px) {
    .logo {
      width: 124px; } }

.top-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-mobile {
  position: relative;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .menu-mobile__close-text {
    position: absolute;
    top: 50%;
    left: calc(-100% - 14px);
    display: none;
    -webkit-transform: translate(-14px, -50%);
        -ms-transform: translate(-14px, -50%);
            transform: translate(-14px, -50%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .menu-mobile__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 38px; }
    .menu-mobile__icon--open {
      opacity: 1; }
    .menu-mobile__icon--close {
      opacity: 0; }
  @media screen and (min-width: 768px) {
    .menu-mobile {
      display: none; } }

.login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  margin-left: 16px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
  border-radius: 50%;
  text-decoration: none;
  color: #3148F7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .login-link:hover {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
  .login-link__icon {
    width: 14px; }
  .login-link__text {
    display: none;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.02em; }
    @media screen and (min-width: 768px) {
      .login-link__text {
        display: block;
        font-size: 14px; } }
  @media screen and (min-width: 768px) {
    .login-link {
      width: auto;
      height: auto;
      padding: 10px 30px;
      -webkit-column-gap: 15px;
         -moz-column-gap: 15px;
              column-gap: 15px;
      border-radius: 200px; } }

.main-nav {
  position: absolute;
  bottom: -20px;
  left: 50%;
  background: #FFFFFF;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.11);
  border-radius: 20px; }
  @media screen and (max-width: 365px) {
    .main-nav {
      bottom: calc(-100% - 30px); } }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    width: auto;
    margin: 0;
    padding: 0px 20px;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 420px) {
      .main-nav__list {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (max-width: 768px) and (min-width: 365px) {
      .main-nav__list {
        width: 360px; } }
  .main-nav__item {
    position: relative;
    padding: 22px 0; }
    .main-nav__item:not(.main-nav__item--active)::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0%;
      height: 2px;
      background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
      background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
      border-radius: 20px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media screen and (min-width: 768px) {
        .main-nav__item:not(.main-nav__item--active)::after {
          top: -39px;
          bottom: unset; } }
    .main-nav__item:hover::after {
      width: 100%; }
    @media screen and (min-width: 768px) {
      .main-nav__item {
        padding: 0; } }
    .main-nav__item--active {
      font-weight: bold; }
      .main-nav__item--active::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
        background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
        border-radius: 20px; }
        @media screen and (min-width: 768px) {
          .main-nav__item--active::after {
            top: -39px;
            bottom: unset; } }
  .main-nav__link {
    position: relative;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    color: #272727; }
  @media screen and (min-width: 768px) {
    .main-nav {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      border-radius: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: none; }
      .main-nav__list {
        width: auto; }
      .main-nav__link {
        font-size: 14px; } }
  @media screen and (min-width: 1024px) {
    .main-nav__list {
      padding: 0;
      -webkit-column-gap: 55px;
         -moz-column-gap: 55px;
              column-gap: 55px; }
    .main-nav__link {
      font-size: 15px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 23px; }
  .footer__logo {
    width: 90px;
    margin-bottom: 17px; }
  .footer__info {
    max-width: 280px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 23px;
    text-align: center; }
  .footer__privacy {
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #3148F7; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 55px 0 70px; }
      .footer__logo {
        width: 125px;
        margin-bottom: 22px; }
      .footer__info {
        max-width: unset;
        margin-bottom: 24px;
        font-size: 13px;
        line-height: 23px; }
      .footer__privacy {
        font-size: 13px;
        line-height: 23px; } }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 75px 0 90px; } }

@media (min-width: 768px) {
  .first {
    padding-left: var(--con);
    padding-right: var(--con); } }

.first__info {
  margin-bottom: 35px;
  padding: 0 15px; }

.first__preview {
  display: block; }
  @media screen and (min-width: 1200px) {
    .first__preview {
      margin-right: -100px; } }

@media screen and (min-width: 786px) {
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
    padding-top: 40px; } }

@media screen and (min-width: 1024px) {
  .first {
    padding-top: 100px; }
    .first__info {
      padding: 0; }
    .first__photo {
      width: 63%;
      margin-top: -2%;
      margin-right: -6%; } }

.first-info__title {
  margin-bottom: 25px; }

.first-info__text {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 24px; }
  .first-info__text--bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px; }
  .first-info__text--bold-small {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px; }

.first-info__meds {
  margin-bottom: 20px; }

.first-info__btn {
  display: block;
  margin-top: 20px; }

@media screen and (min-width: 786px) {
  .first-info__title {
    margin-bottom: 30px; }
  .first-info__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px; }
    .first-info__text--bold {
      font-size: 26px;
      line-height: 31px; }
  .first-info__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 30px; }
  .first-info__meds {
    margin-bottom: 35px; } }

@media screen and (min-width: 1024px) {
  .first-info__meds {
    margin-bottom: 45px; } }

.meds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 1024px) {
    .meds {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px; } }
  @media screen and (min-width: 768px) {
    .meds {
      -webkit-column-gap: 35px;
         -moz-column-gap: 35px;
              column-gap: 35px; } }

.one-med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .one-med__icon {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .one-med__title {
    margin: 0;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.04em; }
    .one-med__title--marked {
      display: block;
      font-size: 15px;
      line-height: 20px;
      color: #2F3DFB; }
  @media screen and (min-width: 768px) {
    .one-med__icon {
      width: 36px; }
    .one-med__title {
      font-size: 13px;
      line-height: 30px; }
      .one-med__title--marked {
        display: inline;
        font-size: 20px;
        line-height: 30px; } }

.login .wrapper--login {
  display: block; }

.login .header__nav, .login .header__btns {
  display: none; }

.login-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  min-height: calc(100vh - 80px);
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .login-block {
      padding-left: var(--con);
      padding-right: var(--con); } }
  .login-block__text {
    padding: 90px 15px 20px; }
  .login-block__descr {
    margin: 17px 0 23px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; }
    @media (min-width: 1024px) {
      .login-block__descr {
        margin: 29px 0 45px; } }
  .login-block__btn {
    max-width: 190px; }
  .login-block__doc {
    display: block;
    margin-top: -80px;
    margin-left: auto;
    margin-right: -20px;
    width: 210px;
    max-height: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center center;
       object-position: center center; }
  .login-block__agree {
    margin: 0 15px;
    padding: 23px 25px;
    font-size: 11px;
    line-height: 19px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.7; }
  @media (min-width: 520px) {
    .login-block__doc {
      width: 60%;
      margin: 20px auto; } }
  @media (min-width: 768px) {
    .login-block {
      padding: 0 0 30px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .login-block {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media (min-width: 768px) {
      .login-block__doc {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        width: 50%; }
      .login-block__btn {
        max-width: 230px; }
      .login-block__text {
        margin: auto 0;
        padding: 0;
        width: 50%;
        -ms-flex-item-align: start;
            align-self: flex-start; }
      .login-block__agree-block {
        margin: 0;
        -ms-flex-item-align: start;
            align-self: flex-start; }
      .login-block__agree {
        margin: 0;
        padding: 20px 40px;
        width: 730px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        justify-self: flex-end;
        -ms-flex-item-align: start;
            align-self: flex-start; } }

.quest-page .wrapper--quest {
  display: block; }

.quest-page .header {
  padding-bottom: 0; }

.quest-page .header__nav,
.quest-page .header__btns {
  display: none; }

.questions {
  padding: 0 20px; }

@media (min-width: 768px) and (min-width: 768px) {
  .questions {
    padding-left: var(--con);
    padding-right: var(--con); } }

.quest {
  min-height: calc(100vh - 50px);
  padding: 80px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .quest {
      min-height: calc(100vh - 70px); } }
  @media screen and (min-width: 1024px) {
    .quest {
      padding-bottom: 60px; } }
  .quest__header {
    margin-bottom: 30px; }
  .quest__title {
    margin: 0 0 18px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #272727; }
    @media screen and (min-width: 1024px) {
      .quest__title {
        margin-bottom: 10px; } }
  .quest__choose {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #5F5F5F; }
  .quest__content {
    position: relative;
    min-height: 350px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .quest__footer {
    width: 100%; }
  .quest-number {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #5F5F5F; }
    .quest-number__active {
      font-weight: bold;
      font-size: 33px;
      line-height: 28px; }
      @media screen and (min-width: 1024px) {
        .quest-number__active {
          font-size: 33px;
          line-height: 28px; } }
    @media screen and (min-width: 1024px) {
      .quest-number {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 28px; } }
  .quest__bar {
    margin-bottom: 25px;
    background: #E8E8E8;
    border-radius: 200px; }
    @media screen and (min-width: 1024px) {
      .quest__bar {
        margin-bottom: 80px; } }
  .quest__ready {
    width: 0%;
    height: 4px;
    background: #3148F7;
    border-radius: 200px; }
  .quest__btn {
    width: 100%; }

@media screen and (min-width: 1024px) {
  .variants {
    max-width: 670px; } }

.variants__label {
  position: relative;
  display: block; }
  .variants__label:hover .variants__name {
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), inset 0px -6px 22px #FFFFFF;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), inset 0px -6px 22px #FFFFFF; }
  .variants__label + .variants__label {
    margin-top: 15px; }

.variants__radio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5; }
  .variants__radio:checked + .variants__name--check {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px; }
    .variants__radio:checked + .variants__name--check .variants__icon {
      width: 20px; }
  .variants__radio:checked + .variants__name {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
    color: #3561EE; }

.variants__input {
  display: block;
  width: 100%;
  padding: 20px 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F7F7));
  background: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #272727;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none; }
  .variants__input:hover {
    outline-color: #3148F7; }

.variants__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  padding: 20px 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F7F7));
  background: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #272727;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .variants__name--check {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0; }
    .variants__name--check .variants__icon {
      width: 0;
      height: 15px; }

.variants__icon {
  height: 30px;
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .variants__icon img {
    height: inherit; }

.next {
  -webkit-animation: next 1s;
          animation: next 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.one-quest {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 30px; }
  .one-quest--active {
    left: 0;
    position: relative; }
  .one-quest--passed {
    left: -100%;
    opacity: 0;
    visibility: hidden; }
  .one-quest--hidden {
    left: 100%;
    opacity: 0;
    visibility: hidden; }

@-webkit-keyframes pass {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: -100%; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: hidden;
    display: none; } }

@keyframes pass {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: -100%; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: hidden;
    display: none; } }

@-webkit-keyframes next {
  0% {
    opacity: 0;
    left: -100%; }
  100% {
    opacity: 1;
    visibility: visible;
    left: 0; } }

@keyframes next {
  0% {
    opacity: 0;
    left: -100%; }
  100% {
    opacity: 1;
    visibility: visible;
    left: 0; } }

.loading {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0; }
  .loading .wrapper--loading {
    display: block; }
  .loading .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .loading .header__nav,
  .loading .header__btns {
    display: none; }
  .loading .load-animation__bg {
    -webkit-animation: load 8s linear forwards;
            animation: load 8s linear forwards; }
  .loading .load-animation__icon {
    -webkit-animation: fadeInOut 1.4s;
            animation: fadeInOut 1.4s; }
  .loading .text {
    -webkit-animation: fadeInOut 1.4s linear;
            animation: fadeInOut 1.4s linear; }
  .loading .progress {
    -webkit-animation: progress 14s forwards linear;
            animation: progress 14s forwards linear; }

.preloader .load-animation__bg {
  animation: preLoad 3s infinite linear alternate-reverse; }

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 90px); }
  .load__con {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .load__text {
    position: relative;
    width: 100%;
    margin: 0 0 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #272727; }
    .load__text .text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 15px;
      opacity: 0; }
      .load__text .text:nth-child(1) {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      .load__text .text:nth-child(2) {
        -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s; }
      .load__text .text:nth-child(3) {
        -webkit-animation-delay: 2.8s;
                animation-delay: 2.8s; }
      .load__text .text:nth-child(4) {
        -webkit-animation-delay: 4.2s;
                animation-delay: 4.2s; }
      .load__text .text:nth-child(5) {
        -webkit-animation-delay: 5.6s;
                animation-delay: 5.6s; }

.load-animation {
  position: relative; }
  .load-animation__bg {
    display: block;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center; }
  .load-animation__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border-radius: 50%; }
  .load-animation__progress {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
    .load-animation__progress .progress {
      stroke: #3148F7;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000; }
  .load-animation__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 43px;
    opacity: 0; }
    .load-animation__icon:nth-child(2) {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .load-animation__icon:nth-child(3) {
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s; }
    .load-animation__icon:nth-child(4) {
      -webkit-animation-delay: 2.8s;
              animation-delay: 2.8s; }
    .load-animation__icon:nth-child(5) {
      -webkit-animation-delay: 4.2s;
              animation-delay: 4.2s; }
    .load-animation__icon:nth-child(6) {
      width: 60px;
      -webkit-animation-delay: 5.6s;
              animation-delay: 5.6s; }

@-webkit-keyframes load {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  25% { }
  50% {
    opacity: 0.2; }
  75% { }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5); } }

@keyframes load {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  25% { }
  50% {
    opacity: 0.2; }
  75% { }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5); } }

@-webkit-keyframes preLoad {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  25% { }
  50% { }
  75% { }
  100% {
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5); } }

@keyframes preLoad {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  25% { }
  50% { }
  75% { }
  100% {
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5); } }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes progress {
  0% { }
  100% {
    stroke-dashoffset: 0; } }

@keyframes progress {
  0% { }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes gradient {
  0% {
    background-size: 0; }
  50% { }
  100% {
    background-size: cover; } }

@keyframes gradient {
  0% {
    background-size: 0; }
  50% { }
  100% {
    background-size: cover; } }

.price .header__nav,
.price .header__btns {
  display: none; }

.price .wrapper--price {
  display: block; }

.wrapper--price {
  padding-left: calc(var(--con) / 2) !important;
  padding-right: var(--con); }

.price-con {
  position: relative;
  margin-bottom: 150px;
  padding: 20px 0 230px;
  background-color: #fff;
  border-radius: 40px; }
  @media (min-width: 1024px) {
    .price-con {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: 0;
      padding-top: 90px;
      padding-bottom: 90px;
      padding-left: calc(var(--con) / 2); } }
  @media (min-width: 1024px) {
    .price-con__description {
      width: 65%; } }
  .price-con__text {
    margin: 0;
    padding: 0 30px; }
    @media (min-width: 1024px) {
      .price-con__text {
        padding: 0; } }
    .price-con__text--marked {
      color: #3148F7; }
    .price-con__text--first {
      font-size: 15px;
      line-height: 22px; }
      .price-con__text--first span {
        display: block; }
      @media (min-width: 1024px) {
        .price-con__text--first {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 22px; } }
    .price-con__text--peoples {
      margin-top: 10px;
      color: #3148F7;
      text-align: end;
      font-weight: bold; }
      @media (min-width: 1024px) {
        .price-con__text--peoples {
          font-size: 16px;
          line-height: 19px;
          text-align: start; } }
    .price-con__text--number {
      display: block;
      text-align: center;
      font-size: 54px;
      line-height: 1;
      color: #272727; }
      @media (min-width: 1024px) {
        .price-con__text--number {
          display: inline-block;
          font-size: 110px;
          line-height: 131px; } }
    .price-con__text--big {
      margin-top: 30px;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px; }
      @media (min-width: 1024px) {
        .price-con__text--big {
          margin-top: 5px;
          font-size: 25px;
          line-height: 35px; } }
    .price-con__text--small {
      margin-top: 20px;
      font-size: 14px;
      line-height: 24px;
      color: #5F5F5F; }
      @media (min-width: 1024px) {
        .price-con__text--small {
          margin-top: 30px;
          font-size: 15px;
          line-height: 26px; } }
  .price-con__img {
    position: absolute;
    left: 50%;
    bottom: -140px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: block;
    width: 310px;
    height: 350px;
    -o-object-fit: contain;
       object-fit: contain; }
    @media (min-width: 1024px) {
      .price-con__img {
        top: 50%;
        left: unset;
        right: -30%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: auto;
        height: 70%; } }
    @media (min-width: 1200px) {
      .price-con__img {
        right: -20%;
        height: 80%; } }

.price-value {
  position: relative; }
  .price-value__radio {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer; }
    .price-value__radio:checked + .price-value__name {
      -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.11);
              box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      color: #3148F7; }
  .price-value__name {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.price-all {
  margin: 30px 0 0;
  padding: 0 10px; }
  @media (min-width: 1024px) {
    .price-all {
      padding: 0; } }
  .price-all__con {
    padding: 15px 20px 40px;
    background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
    background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
    border-radius: 30px; }
    @media (min-width: 1024px) {
      .price-all__con {
        padding: 30px;
        padding-right: 100px; } }
  .price-all__text {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #fff; }
    .price-all__text--small {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px; }
  .price-all__btns {
    margin-top: 25px;
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .price-all__btns {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin: 0; } }
  @media (min-width: 1024px) {
    .price-all__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px;
      margin-top: 30px; }
      .price-all__form .btn {
        width: 140px; } }

.price-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .price-btns__label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.price-value {
  display: block; }

.giperton {
  padding: 0 15px; }
  @media (min-width: 768px) {
    .giperton {
      padding-left: var(--con);
      padding-right: calc(var(--con) - 40px); } }
  @media (min-width: 1024px) {
    .giperton {
      padding-right: calc(var(--con) - 80px); } }
  @media (min-width: 1200px) {
    .giperton {
      padding-right: calc(var(--con) - 100px); } }
  .giperton__content {
    padding: 15px 0px 40px;
    border-radius: 40px;
    background-color: #fff; }
    @media (min-width: 768px) {
      .giperton__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        padding: 10px;
        padding-right: 40px; } }
    @media (min-width: 1024px) {
      .giperton__content {
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
        padding-right: 80px; } }
    @media (min-width: 1200px) {
      .giperton__content {
        padding-right: 100px; } }
  .giperton__pic {
    display: block;
    padding: 0 15px;
    width: 100%;
    border-radius: 40px 40px 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (min-width: 768px) {
      .giperton__pic {
        padding: 0;
        width: 45%;
        -ms-flex-negative: 0;
            flex-shrink: 0; } }
  .giperton__text {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .giperton__text {
        margin-top: 0;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media (min-width: 1024px) {
      .giperton__text {
        margin-bottom: 20px; } }
    @media (min-width: 1200px) {
      .giperton__text {
        margin-bottom: 0px; } }
  .giperton__title {
    padding: 0 15px; }
    @media (min-width: 1024px) {
      .giperton__title {
        margin-top: 40px;
        padding: 0; } }
  .giperton__descr {
    margin: 0 0 30px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5F5F; }
    @media (min-width: 1024px) {
      .giperton__descr {
        margin-bottom: 53px;
        padding: 0;
        font-size: 16px;
        line-height: 26px; }
        .giperton__descr br {
          display: none; } }
  .giperton__tabs {
    margin: 0;
    padding: 20px 15px 0;
    font-size: 14px;
    line-height: 23px;
    border-top: 1px solid #E8F1F3;
    color: #5F5F5F; }
    @media (min-width: 1024px) {
      .giperton__tabs {
        padding: 20px 0 0;
        font-size: 15px;
        line-height: 24px; } }

.minuses {
  margin-top: 20px;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .minuses {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media screen and (min-width: 1024px) {
    .minuses {
      padding-right: calc(var(--con) - 100px); } }
  .minuses__content {
    position: relative;
    margin-top: 170px;
    padding: 165px 15px 25px;
    border-radius: 40px;
    background-color: #fff; }
    @media screen and (min-width: 1024px) {
      .minuses__content {
        width: 75%;
        margin-top: 80px;
        margin-right: auto;
        padding-top: 45px;
        padding-bottom: 60px;
        padding-right: 340px; } }
  .minuses__med {
    position: absolute;
    top: -150px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 300px; }
    @media screen and (min-width: 1024px) {
      .minuses__med {
        height: 475px;
        top: 50%;
        left: unset;
        right: -230px;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%); } }
  .minuses__title br {
    display: none; }
  .minuses__title::after {
    left: 0; }
    @media screen and (min-width: 1024px) {
      .minuses__title::after {
        left: unset;
        right: 0; } }
  @media screen and (min-width: 768px) {
    .minuses__title {
      margin: 0 auto 60px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; } }
  @media screen and (min-width: 1024px) {
    .minuses__title {
      width: auto;
      text-align: end;
      left: unset;
      right: 0; }
      .minuses__title br {
        display: inline; } }
  .minuses__list {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media screen and (min-width: 768px) {
      .minuses__list {
        margin: 0 auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; } }
    @media screen and (min-width: 1024px) {
      .minuses__list {
        width: auto;
        margin: 0; } }
  .minuses__item {
    padding-left: 40px;
    font-size: 14px;
    line-height: 25px;
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.17062 9.17808C9.2799 9.06873 9.4281 9.00729 9.58262 9.00729C9.73715 9.00729 9.88534 9.06873 9.99462 9.17808L12.4964 11.6823L14.9981 9.17808C15.0518 9.12237 15.1161 9.07793 15.1872 9.04736C15.2583 9.01679 15.3348 9.0007 15.4122 9.00002C15.4896 8.99935 15.5663 9.01411 15.6379 9.04344C15.7095 9.07277 15.7746 9.11608 15.8293 9.17085C15.884 9.22563 15.9273 9.29076 15.9566 9.36244C15.9859 9.43413 16.0007 9.51095 16 9.5884C15.9993 9.66586 15.9832 9.7424 15.9527 9.81357C15.9221 9.88474 15.8778 9.94911 15.8221 10.0029L13.3204 12.5072L15.8221 15.0114C15.9282 15.1214 15.987 15.2688 15.9857 15.4217C15.9843 15.5747 15.923 15.721 15.815 15.8291C15.7069 15.9373 15.5608 15.9986 15.408 16C15.2552 16.0013 15.108 15.9425 14.9981 15.8363L12.4964 13.332L9.99462 15.8363C9.88472 15.9425 9.73751 16.0013 9.58472 16C9.43193 15.9986 9.28577 15.9373 9.17772 15.8291C9.06967 15.721 9.00839 15.5747 9.00706 15.4217C9.00573 15.2688 9.06447 15.1214 9.17062 15.0114L11.6724 12.5072L9.17062 10.0029C9.06137 9.89353 9 9.74518 9 9.5905C9 9.43582 9.06137 9.28748 9.17062 9.17808Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='23.339' y1='22.4872' x2='1.86314' y2='1.11796' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
    .minuses__item + .minuses__item {
      margin-top: 30px; }
    @media screen and (min-width: 1024px) {
      .minuses__item {
        padding-left: 0;
        padding-right: 45px;
        text-align: end;
        font-size: 16px;
        background-position: right center; } }

.way {
  padding: 0 15px; }
  @media (min-width: 768px) {
    .way {
      padding-left: var(--con);
      padding-right: var(--con); } }
  .way__content {
    position: relative;
    margin-top: 120px;
    margin-bottom: 110px;
    padding: 100px 25px 30px;
    border-radius: 40px;
    background-color: #fff; }
    .way__content::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -75px;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      z-index: -1;
      width: 150px;
      height: 150px;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 154 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='77' cy='77' r='71' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='143.768' y1='138.521' x2='11.477' y2='6.88665' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
      @media screen and (min-width: 1024px) {
        .way__content::after {
          bottom: -50px; } }
    @media screen and (min-width: 1024px) {
      .way__content {
        margin-top: 200px;
        padding: 80px 0 50px; } }
  .way__doc {
    position: absolute;
    top: -80px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 200px; }
    @media screen and (min-width: 1024px) {
      .way__doc {
        height: 220px;
        width: auto;
        top: -145px; } }
  .way__title {
    margin: 0 0 15px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px; }
    @media screen and (min-width: 1024px) {
      .way__title {
        font-size: 30px;
        line-height: 36px; } }
  .way__text {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 22px;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .way__text {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 30px; } }
  .way__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (min-width: 768px) {
      .way__btn {
        padding-left: 40px;
        padding-right: 40px; } }

.interview {
  padding: 130px 15px 0; }
  @media (min-width: 768px) {
    .interview {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media screen and (min-width: 1024px) {
    .interview {
      padding-top: 100px; } }
  .interview__con {
    padding-bottom: 45px;
    background-color: #fff;
    border-radius: 40px; }
    @media screen and (min-width: 1024px) {
      .interview__con {
        padding: 35px 75px 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .interview__text {
    padding: 0 30px; }
    @media screen and (min-width: 1024px) {
      .interview__text {
        margin-left: 40px;
        padding: 0; } }
    @media screen and (min-width: 1200px) {
      .interview__text {
        margin-left: 30px; } }
  .interview__words {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #5F5F5F; }
    @media screen and (min-width: 1024px) {
      .interview__words {
        font-size: 15px;
        line-height: 23px; } }
    .interview__words--bold {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #272727; }
      @media screen and (min-width: 1024px) {
        .interview__words--bold {
          margin-bottom: 13px;
          font-size: 18px;
          line-height: 25px; } }
    .interview__words--marked {
      color: #3148F7; }
    .interview__words:not(.interview__words--bold) + .interview__words {
      margin-top: 20px; }
      @media screen and (min-width: 1024px) {
        .interview__words:not(.interview__words--bold) + .interview__words {
          margin-top: 25px; } }

.author-int {
  position: relative;
  padding: 120px 20px 30px; }
  @media screen and (min-width: 1024px) {
    .author-int {
      padding-top: 140px; } }
  .author-int__photo {
    position: absolute;
    top: -130px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 170px; }
    @media screen and (min-width: 1024px) {
      .author-int__photo {
        width: 200px;
        top: -120px; } }
  .author-int__name {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center; }
  .author-int__info {
    margin: 0;
    width: 220px;
    font-size: 12px;
    line-height: 18px;
    color: #3148F7;
    text-align: center; }

.infograph {
  margin-bottom: 15px;
  padding: 0 15px;
  background-size: contain;
  background-color: #F5F5F5;
  background-blend-mode: overlay;
  background-position: center center;
  background-image: url(../images/info-bg.png); }
  @media (min-width: 768px) {
    .infograph {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media screen and (min-width: 1024px) {
    .infograph__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .infograph__number {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }
  .infograph__static {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media screen and (min-width: 1024px) {
      .infograph__static {
        -ms-flex-preferred-size: 480px;
            flex-basis: 480px;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px; } }
  .infograph__one {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; }
    @media screen and (min-width: 520px) {
      .infograph__one {
        margin-bottom: 15px; } }
    @media screen and (min-width: 1024px) {
      .infograph__one {
        max-width: 190px; } }

.info-main {
  position: relative;
  padding: 0 10px; }
  @media screen and (min-width: 1024px) {
    .info-main {
      padding: 0; } }
  .info-main::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='35' viewBox='0 0 30 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 17.5L0.749998 34.3875L0.75 0.612504L30 17.5Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-5.08007' y1='34.4089' x2='28.256' y2='0.906502' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
  .info-main::after {
    content: "";
    position: absolute;
    top: -90px;
    right: -70px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='url(%23paint6)'/%3E%3Cdefs%3E%3ClinearGradient id='paint6' x1='28.0068' y1='26.9847' x2='2.23577' y2='1.34155' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
  .info-main__number-con {
    display: block; }
  .info-main__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    line-height: 0; }
    .info-main__bg img {
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .info-main__number {
    position: relative;
    font-weight: bold;
    font-size: 100px;
    line-height: 119px; }
    @media screen and (min-width: 1024px) {
      .info-main__number {
        font-size: 200px;
        line-height: 165px; } }
  .info-main__text {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #3673E6; }
    @media screen and (min-width: 1024px) {
      .info-main__text {
        font-size: 17px;
        line-height: 20px; } }

.info-static {
  position: relative;
  z-index: 5;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #5F5F5F; }
  @media screen and (min-width: 1024px) {
    .info-static {
      font-size: 15px;
      line-height: 18px; } }
  .info-static__number {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
    width: 90px;
    height: 90px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EBEBEB));
    background: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
    -webkit-box-shadow: 0px 4px 8px #BCBCBC, inset 0px 4px 0px #FFFFFF;
            box-shadow: 0px 4px 8px #BCBCBC, inset 0px 4px 0px #FFFFFF;
    border-radius: 25px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #3148F7; }
    @media screen and (min-width: 1024px) {
      .info-static__number {
        font-size: 20px;
        line-height: 24px; } }
    .info-static__number::after {
      content: "";
      position: absolute;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
    .info-static__number--one::after {
      top: -4px;
      right: -38px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
      background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%); }
    @media screen and (min-width: 1024px) {
      .info-static__number--one::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -30px;
        left: -30px;
        width: 90px;
        height: 90px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='45' cy='45' r='39' stroke='url(%23paint8)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint8' x1='84.0205' y1='80.954' x2='6.70731' y2='4.02466' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); } }
    .info-static__number--two::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 10px;
      width: 14px;
      height: 14px;
      background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
      background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
      border-radius: 50%; }
    .info-static__number--two::after {
      top: 50%;
      right: -20px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      z-index: -1;
      width: 50px;
      height: 50px;
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='20' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='48.5452' y1='46.7734' x2='3.87534' y2='2.32536' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
    .info-static__number--three::after {
      top: -18px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      z-index: -1;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20.5' cy='20.5' r='14.5' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='38.276' y1='36.879' x2='3.05555' y2='1.83346' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
    .info-static__number--four::after {
      top: -35px;
      right: -35px;
      width: 70px;
      height: 70px;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.5' cy='35.5' r='29.5' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='66.2828' y1='63.8637' x2='5.29132' y2='3.17501' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
    .info-static__number--five::after {
      left: 0;
      top: -8px;
      width: 17px;
      height: 17px;
      background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
      background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
      border-radius: 50%; }
    @media screen and (min-width: 1024px) {
      .info-static__number--five::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -15px;
        left: -15px;
        width: 70px;
        height: 70px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.5' cy='35.5' r='29.5' stroke='url(%23paint2)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint2' x1='66.2828' y1='63.8637' x2='5.29132' y2='3.17501' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); } }

.about {
  padding: 0 15px; }
  @media screen and (min-width: 1024px) {
    .about {
      padding: 0 50px; } }
  .about__con {
    position: relative;
    margin-top: 100px;
    padding: 315px 30px 30px;
    background: -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
    background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
    border-radius: 40px; }
    @media screen and (min-width: 1024px) {
      .about__con {
        padding: 80px 30px 80px 350px;
        background-image: url(../images/about-bg.png), -o-linear-gradient(135.14deg, #2E36FD 8.34%, #3CACCF 94.03%);
        background-image: url(../images/about-bg.png), linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; } }
    @media screen and (min-width: 1200px) {
      .about__con {
        padding-right: calc(var(--con) - 50px);
        padding-left: 620px; } }
  .about__pic {
    position: absolute;
    top: -70px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 370px; }
    @media screen and (min-width: 1024px) {
      .about__pic {
        top: 50%;
        left: -30px;
        -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
        height: auto;
        width: 370px; } }
    @media screen and (min-width: 1200px) {
      .about__pic {
        width: 43%;
        max-width: 740px;
        top: 40px;
        left: 5%;
        z-index: 5;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; } }
  @media screen and (min-width: 1024px) {
    .about__descr {
      margin-left: auto;
      max-width: 670px; } }
  .about__title {
    margin-bottom: 25px;
    color: #fff;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .about__title {
        margin-bottom: 10px;
        font-size: 28px;
        line-height: 42px;
        text-align: start; } }
  .about__text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 24px;
    color: #fff; }
    @media screen and (min-width: 1024px) {
      .about__text {
        margin-bottom: 20px;
        max-width: 600px;
        font-size: 16px;
        line-height: 20px; } }
  .about__pluses {
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .about__pluses {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 35px;
        max-width: 600px; } }

.plus-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media screen and (max-width: 1024px) {
    .plus-about + .plus-about {
      margin-top: 15px; } }
  .plus-about__icon {
    height: 24px;
    margin-right: 20px; }
    .plus-about__icon img {
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    @media screen and (min-width: 1024px) {
      .plus-about__icon {
        margin-right: 15px; } }
  .plus-about__name {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF; }
    @media screen and (min-width: 1024px) {
      .plus-about__name {
        font-size: 14px;
        line-height: 16px; } }

.methods__title {
  margin: 0 0 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #fff; }
  @media screen and (min-width: 1024px) {
    .methods__title {
      margin-bottom: 60px;
      font-size: 20px;
      line-height: 22px; } }

@media screen and (min-width: 768px) {
  .methods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .methods__list {
    max-width: 600px; } }

@media screen and (max-width: 768px) {
  .methods__one + .methods__one {
    margin-top: 30px; } }

@media screen and (min-width: 768px) {
  .methods__one {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 35px; } }

@media screen and (min-width: 1024px) {
  .methods__one {
    -ms-flex-preferred-size: calc(50% - 13px);
        flex-basis: calc(50% - 13px);
    margin-bottom: 45px; } }

.one-method {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 20px 30px 30px;
  height: 170px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .one-method {
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .one-method {
      padding: 40px 20px 22px 20px; } }
  .one-method__icon {
    position: absolute;
    top: -25px;
    left: 30px;
    width: 50px;
    z-index: 5;
    -webkit-filter: drop-shadow(0px 4px 12px rgba(55, 66, 69, 0.22));
            filter: drop-shadow(0px 4px 12px rgba(55, 66, 69, 0.22)); }
    .one-method__icon img {
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    @media screen and (min-width: 1024px) {
      .one-method__icon {
        width: 50px;
        height: 50px;
        left: 25px; } }
  .one-method__text {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px; }
    @media screen and (min-width: 1024px) {
      .one-method__text {
        font-size: 14px;
        line-height: 17px; } }

.order {
  margin-top: 45px;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .order {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media screen and (min-width: 1024px) {
    .order {
      margin-top: 70px; } }
  @media screen and (min-width: 768px) {
    .order__con {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (min-width: 768px) {
    .order__descr {
      width: 50%;
      margin-right: 30px; } }
  @media screen and (min-width: 768px) {
    .order__descr {
      width: 45%;
      margin-right: 65px; } }
  .order__title {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .order__title {
        text-align: end; } }
    @media screen and (min-width: 1024px) {
      .order__title {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 42px; } }
  .order__title-logo {
    display: inline-block;
    margin-top: 20px;
    width: 125px; }
    @media screen and (min-width: 768px) {
      .order__title-logo {
        display: block;
        margin-left: auto;
        margin-bottom: 15px; } }
    @media screen and (min-width: 1024px) {
      .order__title-logo {
        margin-top: 0; } }
  .order__text {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #272727; }
    @media screen and (min-width: 768px) {
      .order__text {
        text-align: end; }
        .order__text br {
          display: none; } }
    @media screen and (min-width: 1024px) {
      .order__text {
        margin-left: auto;
        max-width: 485px;
        font-size: 19px; } }
    .order__text + .order__text {
      margin-top: 20px; }
    .order__text--special {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #5F5F5F; }
    .order__text--marked {
      font-weight: bold;
      color: #3148F7; }
    @media screen and (min-width: 1024px) {
      .order__text--form {
        font-size: 15px; }
        .order__text--form br {
          display: inline; } }
  .order__btns {
    margin-top: 40px;
    margin-left: auto;
    max-width: 400px; }
    .order__btns .price-value__name {
      color: #A9A9A9; }
  .order__pic {
    display: block;
    margin: 65px auto 0;
    width: 260px; }
    @media screen and (min-width: 768px) {
      .order__pic {
        width: 45%;
        margin: 0; } }
    @media screen and (min-width: 1024px) {
      .order__pic {
        width: 30%; } }
  .order__form {
    padding: 30px 25px 25px;
    background: #FFFFFF;
    border-radius: 40px; }
    @media screen and (min-width: 768px) {
      .order__form {
        width: 100%;
        -webkit-box-flex: 100%;
            -ms-flex: 100% 1 0px;
                flex: 100% 1 0; } }
    @media screen and (min-width: 1024px) {
      .order__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding: 30px 50px; } }
  .order__input {
    display: block;
    width: 100%;
    margin: 20px 0 15px;
    padding: 15px 40px;
    text-align: start;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 200px;
    outline-color: #3148F7; }
    .order__input::-webkit-input-placeholder {
      text-align: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 30px; }
    .order__input::-moz-placeholder {
      text-align: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 30px; }
    .order__input:-ms-input-placeholder {
      text-align: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 30px; }
    .order__input::-ms-input-placeholder {
      text-align: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 30px; }
    .order__input::placeholder {
      text-align: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 30px; }
    @media screen and (min-width: 1024px) {
      .order__input {
        margin: 0 20px;
        max-width: 350px; } }
    @media screen and (min-width: 1200px) {
      .order__input {
        margin-left: 30px; } }
  @media screen and (min-width: 1024px) {
    .order__btn {
      max-width: 200px; } }

.result {
  margin-top: 45px;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .result {
      padding-left: var(--con);
      padding-right: var(--con); } }
  @media screen and (min-width: 768px) {
    .result {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (min-width: 768px) {
    .result__header {
      margin-right: 50px; } }
  @media screen and (min-width: 1024px) {
    .result__header {
      margin-right: 90px; } }
  .result__title {
    margin-bottom: 15px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .result__title {
        text-align: end; } }
    @media screen and (min-width: 1024px) {
      .result__title {
        font-size: 30px;
        margin-bottom: 5px; } }
  .result__text {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #5F5F5F; }
    @media screen and (min-width: 768px) {
      .result__text {
        text-align: end; } }
    @media screen and (min-width: 1024px) {
      .result__text {
        font-size: 16px;
        line-height: 26px; } }
  .result__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px; }
    @media screen and (min-width: 768px) {
      .result__list {
        position: relative; }
        .result__list::before {
          content: "";
          position: absolute;
          top: -30px;
          left: -30px;
          z-index: -1;
          width: 120px;
          height: 120px;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 219 219' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='109.5' cy='109.5' r='103.5' stroke='url(%23paintlinear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paintlinear' x1='204.45' y1='196.988' x2='16.3211' y2='9.79335' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .result__list::before {
        width: 220px;
        height: 220px;
        left: -55px;
        top: -55px; } }
  .result__one {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .result__one + .result__one {
      margin-left: 20px; }
      @media screen and (min-width: 1024px) {
        .result__one + .result__one {
          margin-left: 35px; } }

.result-part {
  max-width: 255px; }
  .result-part__pic {
    display: block;
    width: 100%; }
  .result-part__title {
    margin: 35px 0 20px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em; }
    @media screen and (min-width: 1024px) {
      .result-part__title {
        margin: 15px 0 10px;
        font-size: 15px;
        line-height: 20px; } }
  .result-part__text {
    margin: 0;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #5F5F5F; }
    @media screen and (min-width: 1024px) {
      .result-part__text {
        font-size: 13px;
        line-height: 22px; } }

.tabs-bg {
  background-image: url(../images/tabs-bg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.feedbacks {
  margin-top: 65px;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .feedbacks {
      padding: 0 20px; } }
  .feedbacks__title {
    text-align: center; }
  .feedbacks__list {
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      .feedbacks__list {
        min-height: 310px; } }
  @media screen and (min-width: 768px) {
    .feedbacks__one {
      opacity: 0.6;
      padding: 0 10px; }
      .feedbacks__one.slick-current {
        opacity: 1; }
        .feedbacks__one.slick-current .one-feed {
          padding: 60px 40px 50px; }
          .feedbacks__one.slick-current .one-feed__photo {
            width: 110px;
            height: 110px; }
          .feedbacks__one.slick-current .one-feed__name {
            font-size: 18px;
            line-height: 23px; }
          .feedbacks__one.slick-current .one-feed__info {
            font-size: 14px;
            line-height: 23px; }
          .feedbacks__one.slick-current .one-feed__text {
            font-size: 14px;
            line-height: 23px; } }
  @media screen and (min-width: 1024px) {
    .feedbacks__one {
      padding: 0 20px; } }

.one-feed {
  padding: 40px 35px 35px;
  background-color: #fff;
  border-radius: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 768px) {
    .one-feed {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 35px 30px 20px; } }
  .one-feed__photo {
    display: block;
    margin: 0 auto 15px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -o-object-position: center center;
       object-position: center center;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 768px) {
      .one-feed__photo {
        width: 90px;
        height: 90px;
        margin: 0;
        margin-right: 20px; } }
    @media screen and (min-width: 1024px) {
      .one-feed__photo {
        margin-right: 40px; } }
  .one-feed__name {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .one-feed__name {
        text-align: start;
        font-size: 16px;
        line-height: 23px; } }
  .one-feed__info {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #3252F3; }
    @media screen and (min-width: 768px) {
      .one-feed__info {
        margin-bottom: 20px;
        text-align: start;
        font-size: 12px;
        line-height: 23px; } }
  .one-feed__text {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #5F5F5F; }
    @media screen and (min-width: 768px) {
      .one-feed__text {
        text-align: start;
        font-size: 12px;
        line-height: 18px; } }

.buy-now {
  margin-top: 80px;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .buy-now {
      padding-left: var(--con);
      padding-right: var(--con); } }
  .buy-now__title {
    margin: 0 auto 25px;
    max-width: 970px;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .buy-now__title {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 44px; } }
  .buy-now__text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #5F5F5F; }
    @media screen and (min-width: 1024px) {
      .buy-now__text {
        margin-bottom: 55px;
        font-size: 18px;
        line-height: 40px; } }
  .buy-now__content {
    margin-bottom: 20px; }
    @media screen and (min-width: 1024px) {
      .buy-now__content {
        margin-bottom: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .buy-now__form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 40px 110px 50px; }
      .buy-now__form .order__input {
        max-width: 650px;
        margin-left: 0; } }
  .buy-now__form-text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold; }
    @media screen and (min-width: 1024px) {
      .buy-now__form-text {
        -webkit-box-flex: 100%;
            -ms-flex: 100% 1 0px;
                flex: 100% 1 0;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 40px; } }

.course-content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 30px;
  background-color: #fff; }
  @media screen and (min-width: 1024px) {
    .course-content {
      padding: 35px 40px;
      max-width: 370px; } }
  .course-content + .course-content {
    margin-top: 10px; }
    @media screen and (min-width: 1024px) {
      .course-content + .course-content {
        margin-top: 0;
        margin-left: 30px; } }
  .course-content__number {
    font-size: 60px;
    line-height: 40px;
    color: #3148F7; }
  .course-content__icon {
    width: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .course-content__name {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    line-height: 20px; }

.preloader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff; }

body {
  min-height: 100vh;
  color: #272727;
  font-family: "SF UI Display";
  background-color: #F5F5F5; }
  body.login {
    background: url(../images/login/login-bg.jpg) center center no-repeat;
    background-size: cover; }

.wrapper {
  overflow: hidden; }
  .wrapper--land {
    display: none; }
  .wrapper--login {
    display: none; }
  .wrapper--quest {
    display: none; }
  .wrapper--loading {
    display: none; }
  .wrapper--price {
    display: none; }

.landing .wrapper--land {
  display: block; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

picture {
  line-height: 0; }
  picture img {
    width: 100%; }

button {
  cursor: pointer; }
