<header class="header">
    <a href="/" class="header__logo">
        <source srcset="images/logo.svg" type="image/svg+xml">
        <img class="logo" src="images/logo.png" alt="120/80">
    </a>
    <nav class="header__nav main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item--active">
                <a href="#about" class="main-nav__link main-nav__link scrollto">О гипертонии</a>
            </li>
            <li class="main-nav__item">
                <a href="#method" class="main-nav__link scrollto">О методике</a>
            </li>
            <li class="main-nav__item">
                <a href="#buy" class="main-nav__link scrollto">Содержание курса</a>
            </li>
        </ul>
    </nav>
    <div class="header__btns top-btns">
        <button class="top-btns__mobile-menu menu-mobile">
            <picture class="menu-mobile__icon menu-mobile__icon--open">
                <source srcset="images/icons/mmenu.svg" type="image/svg+xml">
                <img src="images/icons/mmenu.png" alt="">
            </picture>
            <span class="menu-mobile__close-text">Закрыть</span>
            <picture class="menu-mobile__icon menu-mobile__icon--close">
                <source srcset="images/icons/mmenu-close.svg" type="image/svg+xml">
                <img src="images/icons/mmenu-close.png" alt="">
            </picture>
        </button>
        <a href="#" class="top-btns__login login-link">
            <picture class="login-link__icon">
                <source srcset="images/icons/login.svg" type="image/svg+xml">
                <img src="images/icons/login.png" alt="">
            </picture>
            <span class="login-link__text">войти</span>
        </a>
    </div>
</header>