.about{
    padding: 0 15px;
    @media screen and (min-width: 1024px){
        padding: 0 50px;
    }
    &__con{
        position: relative;
        margin-top: 100px;
        // padding-top: 315px;
        padding: 315px 30px 30px;
        background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
        border-radius: 40px;
        @media screen and (min-width: 1024px){
            padding: 80px 30px 80px 350px;
            background-image: url(../images/about-bg.png), linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        @media screen and (min-width: 1200px){
            padding-right: calc(var(--con) - 50px);
            padding-left: 620px;
        }
    }
    &__pic{
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 370px;
        @media screen and (min-width: 1024px){
            top: 50%;
            left: -30px;
            transform: translate(0%, -50%);
            height: auto;
            width: 370px;
        }
        @media screen and (min-width: 1200px){
            width: 43%;
            max-width: 740px;
            top: 40px;
            left: 5%;
            z-index: 5;
            transform: none;

        }
    }
    &__descr{
        @media screen and (min-width: 1024px){
            margin-left: auto;
            max-width: 670px;
        }
    }
    &__title{
        margin-bottom: 25px;
        color: #fff;
        text-align: center;
        @media screen and (min-width: 1024px){
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 42px;
            text-align: start;
        }
    }
    &__text{
        margin: 0 0 30px;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        @media screen and (min-width: 1024px){
            margin-bottom: 20px;
            max-width: 600px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__pluses{
        margin-bottom: 30px;
        @media screen and (min-width: 1024px){
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
            max-width: 600px;
        }
        
    }
}
.plus-about{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 1024px){
        & + &{
            margin-top: 15px;
        }
    }
    &__icon{
        height: 24px;
        margin-right: 20px;
        img{
            height: 100%;
            object-fit: contain;
        }
        @media screen and (min-width: 1024px){
            // margin-left: 15px;
            // height: 20px;
            margin-right: 15px;
        }
    }
    &__name{
        margin: 0;
        font-weight: bold;
        font-size: 15px;
        line-height: 26px;
        color: #FFFFFF;
        @media screen and (min-width: 1024px){
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.methods{
    &__title{
        margin: 0 0 50px;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        @media screen and (min-width: 1024px){
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 22px;
        }        
    }
    &__list{
        @media screen and (min-width: 768px){
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            justify-content: space-between;
            
        }
        @media screen and (min-width: 1024px){
            max-width: 600px;
        }

    }
    &__one{
        @media screen and (max-width: 768px){
            & + &{
                margin-top: 30px;
            }
        }
        @media screen and (min-width: 768px){
            flex-basis: 49%;
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px){
            flex-basis: calc(50% - 13px);
            margin-bottom: 45px;
        }
    }
}
.one-method{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 45px 20px 30px 30px;
    height: 170px;
    border-radius: 20px;
    background-color: #fff;
    box-sizing: border-box;
    @media screen and (min-width: 768px){
        height: auto;
    }
    @media screen and (min-width: 1024px){
        padding: 40px 20px 22px 20px;
    }
    &__icon{
        position: absolute;
        top: -25px;
        left: 30px;
        width: 50px;
        z-index: 5;
        filter: drop-shadow( 0px 4px 12px rgba(55, 66, 69, 0.22));
        img{
            height: 100%;
            object-fit: contain;
        }
        @media screen and (min-width: 1024px){
            width: 50px;
            height: 50px;
            left: 25px;
        }
    }
    &__text{
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        @media screen and (min-width: 1024px){
            font-size: 14px;
            line-height: 17px;
        }
    }
}