.btn{
    display: block;
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(96.95deg, #FE5487 -15.73%, #2F37FE 44.6%, #3DACD0 106.25%);
    background-size: 100%;
    border-radius: 200px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    transition: 0.5s;
    text-decoration: none;
    &:hover{
        background-size: 400%;
    }
    @media screen and (min-width: 768px){
        width: 230px;
        font-size: 13px;
        line-height: 30px;
        padding: 15px 0;
    }
    &[disabled]{
        background: #CBCBCB;
        opacity: 0.2;
    }
    &--white{
        border: 2px solid #fff;
        background: none;
        background-color: transparent;
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
}