.buy-now{
    margin-top: 80px;
    padding: 0 15px;
    @include cont;
    &__title{
        margin: 0 auto 25px;
        max-width: 970px;
        text-align: center;
        @media screen and (min-width: 1024px) {
            margin-bottom: 30px;
            font-size: 36px;
            line-height: 44px;
        }
    }
    &__text{
        margin: 0 0 30px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #5F5F5F;
        @media screen and (min-width: 1024px) {
            margin-bottom: 55px;
            font-size: 18px;
            line-height: 40px;
        }
    }
    &__content{
        margin-bottom: 20px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 70px;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: center;
        }
    }
    &__form{
        @media screen and (min-width: 1024px) {
            flex-wrap: wrap;
            padding: 40px 110px 50px;
            .order__input{
                max-width: 650px;
                margin-left: 0;
            }
        }
    }
    &__form-text{
        margin: 0;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        @media screen and (min-width: 1024px) {
            flex: 100% 1 0;
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 40px;
        }
    }
}
.course-content{
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: #fff;
    @media screen and (min-width: 1024px) {
        padding: 35px 40px;
        max-width: 370px;
    }
    & + &{
        margin-top: 10px;
        @media screen and (min-width: 1024px) {
            margin-top: 0;
            margin-left: 30px;
        }
    }
    &__number{
        font-size: 60px;
        line-height: 40px;
        color: $blue;
    }
    &__icon{
        width: 60px;
        flex-shrink: 0;
    }
    &__name{
        display: inline-block;
        margin-left: 20px;
        font-size: 13px;
        line-height: 20px;
    }
}