.tabs-bg{
    background-image: url(../images/tabs-bg.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.feedbacks{
    margin-top: 65px;
    padding: 0 15px;
    @media screen and (min-width: 768px){
        padding: 0 20px;
    }
    &__title{
        text-align: center;
    }
    &__list{
        margin-top: 40px;
        @media screen and (min-width: 768px){
            min-height: 310px;
        }
    }
    &__one{
        @media screen and (min-width: 768px){
            opacity: 0.6;
            padding: 0 10px;
            &.slick-current{
                opacity: 1;
                .one-feed{
                    padding: 60px 40px 50px;
                    &__photo{
                        width: 110px;
                        height: 110px;
                    }
                    &__name{
                        font-size: 18px;
                        line-height: 23px;
                    }
                    &__info{
                        font-size: 14px;
                        line-height: 23px;
                    }
                    &__text{
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
            }
        }
        @media screen and (min-width: 1024px){
            padding: 0 20px;
        }
    }
}
.one-feed{
    padding: 40px 35px 35px;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.5s;
    @media screen and (min-width: 768px){
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 35px 30px 20px;
    }
    &__photo{
        display: block;
        margin: 0 auto 15px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-position: center center;
        object-fit: cover;
        transition: 0.5s;
        @media screen and (min-width: 768px){
            width: 90px;
            height: 90px;
            margin: 0;
            margin-right: 20px;
        }
        @media screen and (min-width: 1024px){
            margin-right: 40px;
        }
    }
    &__name{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 15px;
        line-height: 23px;
        text-align: center;
        @media screen and (min-width: 768px){
            text-align: start;
            font-size: 16px;
            line-height: 23px;
        }
    }
    &__info{
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 23px;
        text-align: center;
        color: #3252F3;
        @media screen and (min-width: 768px){
            margin-bottom: 20px;
            text-align: start;
            font-size: 12px;
            line-height: 23px;
            
        }
    }
    &__text{
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #5F5F5F;
        @media screen and (min-width: 768px){
            text-align: start;
            font-size: 12px;
            line-height: 18px;
        }
    }
}