.first{
    @include cont;
    &__info{
        margin-bottom: 35px;
        padding: 0 15px;
    }
    &__preview{
        display: block;
        @media screen and (min-width: 1200px){
            margin-right: -100px;
        }
    }
    @media screen and (min-width: 786px) {
        @include flex($justify: center, $align: flex-start);
        column-gap: 45px;
        padding-top: 40px;
    }
    @media screen and (min-width: 1024px){
        padding-top: 100px;
        &__info{
            padding: 0;
        }
        &__photo{
            width: 63%;
            margin-top: -2%;
            margin-right: -6%;
        }
    }
}
.first-info{
    &__title{
        margin-bottom: 25px;
    }
    &__text{
        margin: 0 0 20px;
        font-size: 15px;
        line-height: 24px;
        &--bold{
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
        &--bold-small{
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
        }
    }
    &__meds{
        margin-bottom: 20px;
    }
    &__btn{
        display: block;
        margin-top: 20px;
    }
    @media screen and (min-width: 786px) {
        &__title{
            margin-bottom: 30px;
        }
        &__text{
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 28px;
            &--bold{
                font-size: 26px;
                line-height: 31px;
            }
        }
        &__btn{
            width: fit-content;
            padding: 15px 30px;
        }
        &__meds{
            margin-bottom: 35px;
        }
    }
    @media screen and (min-width: 1024px) {
        &__title{
        }
        &__meds{
            margin-bottom: 45px;
        }
    }

}

.meds{
    @include flex();
    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
        column-gap: 20px;

    }
    @media screen and (min-width: 768px) {
        column-gap: 35px;;
    }

}
.one-med{
    @include flex($justify: flex-start);
    &__icon{
        // width: 27px;
        flex-shrink: 0;
    }
    &__title{
        margin: 0;
        margin-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: 0.04em;
        &--marked{
            display: block;
            font-size: 15px;
            line-height: 20px;
            color: $blue-font;
        }
    }
    @media screen and (min-width: 768px) {
        &__icon{
            width: 36px;
        }
        &__title{

            font-size: 13px;
            line-height: 30px;
            &--marked{
                display: inline;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    @media screen and (min-width: 1024px) {}

}