.footer{
    @include flex(column, nowrap, center, center);
    padding: 35px 0 23px;
    &__logo{
        width: 90px;
        margin-bottom: 17px;
    }
    &__info{
        max-width: 280px;
        margin: 0 0 20px;
        font-size: 13px;
        line-height: 23px;
        text-align: center;
    }
    &__privacy{
        font-size: 12px;
        line-height: 23px;
        text-align: center;
        text-decoration-line: underline;
        color: $blue;
    }
    @media screen and (min-width: 768px) {
        padding: 55px 0 70px;
        &__logo{
            width: 125px;
            margin-bottom: 22px;
        }
        &__info{
            max-width: unset;
            margin-bottom: 24px;
            font-size: 13px;
            line-height: 23px;
        }
        &__privacy{
            font-size: 13px;
            line-height: 23px;
        }
    }
    @media screen and (min-width: 1024px) {
        padding: 75px 0 90px;
    }
}