.giperton{
    padding: 0 15px;
    @media (min-width: 768px){
        padding-left: var(--con);
        padding-right: calc(var(--con) - 40px);
    }
    @media (min-width: 1024px){
        padding-right: calc(var(--con) - 80px);
    }
    @media (min-width: 1200px){
        padding-right: calc(var(--con) - 100px);
    }
    &__content{
        padding: 15px 0px 40px;
        border-radius: 40px;
        background-color: #fff;
        @media (min-width: 768px){
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            column-gap: 20px;
            padding: 10px;
            padding-right: 40px;
        }
        @media (min-width: 1024px){
            column-gap: 40px;
            padding-right: 80px;
        }
        @media (min-width: 1200px){
            padding-right: 100px;
        }
    }
    &__pic{
        display: block;
        padding: 0 15px;
        width: 100%;
        border-radius: 40px 40px 0 40px;
        box-sizing: border-box;
        @media (min-width: 768px){
            padding: 0;
            width: 45%;
            flex-shrink: 0;
        }
    }
    &__text{
        margin-top: 20px;
        @media (min-width: 768px){
            margin-top: 0;
            flex-basis: 50%;
            // align-self: flex-end;
        }
        @media (min-width: 1024px){
            margin-bottom: 20px;
        }
        @media (min-width: 1200px){
            margin-bottom: 0px;
        }
    }
    &__title{
        padding: 0 15px;
        @media (min-width: 1024px){
            margin-top: 40px;
            padding: 0;
        }
    }
    &__descr{
        margin: 0 0 30px;
        padding: 0 15px;
        font-size: 14px;
        line-height: 23px;
        color: #5F5F5F;
        @media (min-width: 1024px){
            margin-bottom: 53px;
            padding: 0;
            font-size: 16px;
            line-height: 26px;
            br{
                display: none;
            }
        }
    }
    &__tabs{
        margin: 0;
        padding: 20px 15px 0;
        font-size: 14px;
        line-height: 23px;
        border-top: 1px solid #E8F1F3;
        color: #5F5F5F;
        @media (min-width: 1024px){
            padding: 20px 0 0;
            font-size: 15px;
            line-height: 24px;
        }
    }

}