.header{
    position: relative;
    @include cont;
    @include flex();
    padding: 20px 15px;
    transition: 0.3s;
    &__logo{}
    &__nav{}
    &--login{
        .header__nav,
        .header__btns{
            display: none;
        }
    }
    @media screen and (max-width: 768px){
        &--menu-open{
            padding-bottom: 50px;
            .header__nav{
                display: block;
            }
            .menu-mobile__close-text{
                display: block;
            }
            .menu-mobile__icon{
                opacity: 0;
            }
            .menu-mobile__icon--close{
                opacity: 1;
            }
        }

        &__nav{
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        padding-top: 28px;
        // padding-left: 15px;
        &__list{}
    }
    @media screen and (min-width: 1024px) {
        column-gap: 95px;
        &__nav{
            margin-left: auto;
        }
    }

}
.logo{
    width: 85px;
    @media screen and (min-width: 768px) {
        width: 124px;
    }
}
.top-btns{
    @include flex();
}
.menu-mobile{
    position: relative;
    padding: 0;
    width: 38px;
    height: 38px;
    border: none;
    background: transparent;
    transition: 0.3s;
    &__close-text{
        position: absolute;
        top: 50%;
        left: calc(-100% - 14px);
        display: none;
        transform: translate(-14px, -50%);
        transition: 0.3s;
    }
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 38px;
        &--open{
            opacity: 1;
        }
        &--close{
            opacity: 0;
        }
    }
    @media screen and (min-width: 768px) {
            display: none;
    }
}
.login-link{
    @include flex($justify: center);
    width: 38px;
    height: 38px;
    margin-left: 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
    text-decoration: none;
    color: $blue;
    transition: 0.5s;
    &:hover{
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    }
    &__icon{
        width: 14px;
    }
    &__text{
        display: none;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.02em;
        @media screen and (min-width: 768px) {
            display: block;
            font-size: 14px;
        }
    }
    @media screen and (min-width: 768px) {
        width: auto;
        height: auto;
        padding: 10px 30px;
        column-gap: 15px;
        border-radius: 200px;
    }
}
.main-nav{
    position: absolute;
    bottom: -20px;
    left: 50%;
    // width: 100%;
    background: #FFFFFF;
    transform: translate(-50%, 0);
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    @media screen and (max-width: 365px){
        bottom: calc(-100% - 30px);
    }
    &__list{
        @include flex();
        @media screen and (max-width: 420px){
            justify-content: space-around;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 768px) and (min-width: 365px){
            width: 360px;

        }
        column-gap: 20px;
        width: auto;
        margin: 0;
        padding: 0px 20px;
        list-style: none;
        box-sizing: border-box;
    }
    &__item{
        position: relative;
        padding: 22px 0;
        &:not(&--active)::after{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0%;
            height: 2px;
            background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
            border-radius: 20px;
            transition: 0.3s;
            @media screen and (min-width: 768px) {
                top: -39px;
                bottom: unset;
            }
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
        @media screen and (min-width: 768px) {
            padding: 0;
        }
        &--active{
            font-weight: bold;
            &::after{
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
                border-radius: 20px;
                @media screen and (min-width: 768px) {
                    top: -39px;
                    bottom: unset;
                }
            }

        }
    }
    &__link{
        position: relative;
        font-size: 13px;
        line-height: 1;
        text-decoration: none;
        color: $font-color;
    }
    @media screen and (min-width: 768px) {
        position: static;
        transform: none;
        border-radius: none;
        box-shadow: none;
        background: none;
        &__list{
            width: auto;
        }
        &__link{
            font-size: 14px;
        }
    }
    @media screen and (min-width: 1024px) {
        &__list{
            padding: 0;
            column-gap: 55px;
        }
        &__link{
            font-size: 15px;
        }
    }
}