.infograph{
    margin-bottom: 15px;
    padding: 0 15px;
    @include cont;
    background-size: contain;
    background-color: $main-bg;
    background-blend-mode: overlay;
    background-position: center center;
    background-image: url(../images/info-bg.png);
    &__content{
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__number{
        @media screen and (min-width: 1024px) {
            flex-basis: 50%;
        }
        
    }
    &__static{
        margin-top: 40px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        @media screen and (min-width: 1024px) {
            flex-basis: 480px;
            column-gap: 50px;
        }
    }
    &__one{
        flex-basis: 49%;
        @media screen and (min-width: 520px) {
            margin-bottom: 15px;
            
        }
        @media screen and (min-width: 1024px) {
            max-width: 190px;
        }
    }
}
.info-main{
    position: relative;
    padding: 0 10px;
    @media screen and (min-width: 1024px) {
        padding: 0;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(0, -50%);
        width: 30px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='35' viewBox='0 0 30 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 17.5L0.749998 34.3875L0.75 0.612504L30 17.5Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-5.08007' y1='34.4089' x2='28.256' y2='0.906502' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &::after{
        content: "";
        position: absolute;
        top: -90px;
        right: -70px;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='url(%23paint6)'/%3E%3Cdefs%3E%3ClinearGradient id='paint6' x1='28.0068' y1='26.9847' x2='2.23577' y2='1.34155' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &__number-con{
        display: block;
    }
    &__bg{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        line-height: 0;
        img{
            height: 100%;
            object-fit: contain;
        }
    }
    &__number{
        position: relative;
        font-weight: bold;
        font-size: 100px;
        line-height: 119px;
        @media screen and (min-width: 1024px) {
            font-size: 200px;
            line-height: 165px;

        }
    }
    &__text{
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        color: #3673E6;
        @media screen and (min-width: 1024px) {
            font-size: 17px;
            line-height: 20px;
        }
    }
}
.info-static{
    position: relative;
    z-index: 5;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #5F5F5F;
    @media screen and (min-width: 1024px) {
        font-size: 15px;
        line-height: 18px;
    }
    &__number{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        width: 90px;
        height: 90px;
        background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
        box-shadow: 0px 4px 8px #BCBCBC, inset 0px 4px 0px #FFFFFF;
        border-radius: 25px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        font-weight: bold;
        color: $blue;
        @media screen and (min-width: 1024px) {
            font-size: 20px;
            line-height: 24px;
        }
        &::after{
            content: "";
            position: absolute;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &--one{
            &::after{
                top: -4px;
                right: -38px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
            }
            @media screen and (min-width: 1024px){
                &::before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: -30px;
                    left: -30px;
                    width: 90px;
                    height: 90px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='45' cy='45' r='39' stroke='url(%23paint8)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint8' x1='84.0205' y1='80.954' x2='6.70731' y2='4.02466' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

                }
            }
        }
        &--two{
            &::before{
                content: "";
                position: absolute;
                bottom: -7px;
                left: 10px;
                width: 14px;
                height: 14px;
                background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
                border-radius: 50%;
            }
            &::after{
                top: 50%;
                right: -20px;
                transform: translate(0, -50%);
                z-index: -1;
                width: 50px;
                height: 50px;
                background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='20' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='48.5452' y1='46.7734' x2='3.87534' y2='2.32536' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
        &--three{
            &::after{
                top: -18px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: -1;
                width: 40px;
                height: 40px;
                background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20.5' cy='20.5' r='14.5' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='38.276' y1='36.879' x2='3.05555' y2='1.83346' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
        &--four{
            &::after{
                top: -35px;
                right: -35px;
                width: 70px;
                height: 70px;
                z-index: -1;
                background-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.5' cy='35.5' r='29.5' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='66.2828' y1='63.8637' x2='5.29132' y2='3.17501' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
        &--five{
            &::after{
                left: 0;
                top: -8px;
                width: 17px;
                height: 17px;
                background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
                border-radius: 50%;
            }
            @media screen and (min-width: 1024px){
                &::before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    bottom: -15px;
                    left: -15px;
                    width: 70px;
                    height: 70px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.5' cy='35.5' r='29.5' stroke='url(%23paint2)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint2' x1='66.2828' y1='63.8637' x2='5.29132' y2='3.17501' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

                }
            }
        }
    }
}