.interview{
    padding: 130px 15px 0;
    @include cont;
    @media screen and (min-width: 1024px){
        padding-top: 100px;
    }
    &__con{
        padding-bottom: 45px;
        background-color: #fff;
        border-radius: 40px;
        @media screen and (min-width: 1024px){
            padding: 35px 75px 45px;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    &__text{
        padding: 0 30px;
        @media screen and (min-width: 1024px){
            margin-left: 40px;
            padding: 0;
        }
        @media screen and (min-width: 1200px){
            margin-left: 30px;

        }
    }
    &__words{
        margin: 0;
        font-size: 13px;
        line-height: 20px;
        color: #5F5F5F;
        @media screen and (min-width: 1024px){
            font-size: 15px;
            line-height: 23px;
        }
        &--bold{
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $font-color;
            @media screen and (min-width: 1024px){
                margin-bottom: 13px;
                font-size: 18px;
                line-height: 25px;
            }
        }
        &--marked{
            color: $blue;
        }
        &:not(&--bold) + &{
            margin-top: 20px;
            @media screen and (min-width: 1024px){
                margin-top: 25px;
            }
        }
    }
}
.author-int{
    position: relative;
    padding: 120px 20px 30px;
    @media screen and (min-width: 1024px){
        padding-top: 140px;
    }
    &__photo{
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 170px;
        @media screen and (min-width: 1024px){
            width: 200px;
            top: -120px;
        }
    }
    &__name{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    &__info{
        margin: 0;
        width: 220px;
        font-size: 12px;
        line-height: 18px;
        color: $blue;
        text-align: center;
    }
}