.loading{
    .wrapper--loading{
        display: block;
    }
    .header{
        justify-content: center;
    }
    .header__nav,
    .header__btns{
        display: none;
    }
    .load-animation__bg{
        animation: load 8s linear forwards;
    }
    .load-animation__icon{
        animation: fadeInOut 1.4s;
    }
    .text{
        animation: fadeInOut 1.4s linear;
    }
    .progress{
        animation: progress 14s forwards linear;
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0;
    // animation: gradient 2s infinite;
}
.preloader{
    .load-animation__bg{
        animation: preLoad 3s infinite linear alternate-reverse;
    }
}
.load{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
    &__con{
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    &__text{
        position: relative;
        width: 100%;
        margin: 0 0 60px;
        font-weight: bold;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        color: #272727;
        
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 0 15px;
            opacity: 0;
            &:nth-child(1){
                animation-delay: 0s;    
            }
            &:nth-child(2){
                animation-delay: 1.4s;
            }
            &:nth-child(3){
                animation-delay: 2.8s;
                
            }
            &:nth-child(4){
                animation-delay: 4.2s;
                
            }
            &:nth-child(5){
                animation-delay: 5.6s;
                
            }
        }
    }
}
.load-animation{
    position: relative;
    &__bg{
        display: block;
        transform-origin: center center;
    }

    &__icons{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 180px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
    }
    &__progress{
        // stroke: red;
        transition: 0.3s;
        transform: rotate(-90deg);
        .progress{
            // transition:stroke-dashoffset 0.6s linear;
            stroke: $blue;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            
        }
    }
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 43px;
        opacity: 0;
        &:nth-child(2){
            animation-delay: 0s;
        }
        &:nth-child(3){
            animation-delay: 1.4s;
        }
        &:nth-child(4){
            animation-delay: 2.8s;
        }
        &:nth-child(5){
            animation-delay: 4.2s;
        }
        &:nth-child(6){
            width: 60px;
            animation-delay: 5.6s;
        }


    }
}

@keyframes load{
    0%{
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    25%{
        
    }
    50%{
        opacity: 0.2;
        // transform: rotate(360deg) scale(0.7);
    }
    75%{
        
    }
    100%{
        opacity: 1;
        transform: rotate(360deg) scale(0.5);
    }
}
@keyframes preLoad{
    0%{
        transform: rotate(0deg) scale(1);
    }
    25%{
        
    }
    50%{
        // transform: rotate(360deg) scale(0.7);
    }
    75%{
        
    }
    100%{
        transform: rotate(360deg) scale(0.5);
    }
}
// background-color: rgba(254, 84, 135, 0);
// background-color: rgba(47, 55, 254, 0);
// background-color: rgba(61, 172, 208, 0);
@keyframes fadeInOut {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes progress {
    0% {
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes gradient {
    0%{
        // background: radial-gradient( rgba(254, 84, 135, 0.2) 0%, rgba(47, 55, 254, 0.2) 0%, rgba(61, 172, 208, 0.2) 0%, transparent 100%);
        background-size: 0;
        
    }
    50%{
        
    }
    100%{
        background-size: cover;
        
    }
    
}