.login {
    .wrapper--login{
        display: block;
    }
    .header{
        &__nav, &__btns{
            display: none;
        }
    }
}
.login-block{
    position: relative;
    @include flex($direction:column, $justify: center);
    @include cont;
    margin-top: auto;
    min-height: calc(100vh - 80px);
    padding-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    &__text{
        padding: 90px 15px 20px;
    }
    &__descr{
        margin: 17px 0 23px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        @media (min-width: 1024px){
            margin: 29px 0 45px;
        }
    }
    &__btn{
        max-width: 190px;
    }
    &__doc{
        display: block;
        margin-top: -80px;
        margin-left: auto;
        margin-right: -20px;
        width: 210px;
        max-height: 90%;
        object-fit: contain;
        object-position: center center;
    }
    &__agree{
        margin: 0 15px;
        padding: 23px 25px;
        font-size: 11px;
        line-height: 19px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.7;
    }
    @media (min-width: 520px){
        &__doc{
            width: 60%;
            margin: 20px auto;
        }
    }
    @media (min-width: 768px){
        padding:0 0 30px;
        @include cont;
        &__doc{
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0;
            width: 50%;
        }
        &__btn{
            max-width: 230px;
        }
        &__text{
            margin: auto 0;
            padding: 0;
            width: 50%;
            align-self: flex-start;
        }
        &__agree-block{
            margin: 0;
            align-self: flex-start;
        }
        &__agree{
            margin: 0;
            padding: 20px 40px;
            width: 730px;
            flex-grow: 1;
            justify-self: flex-end;
            align-self: flex-start;
        }
    }
}