.minuses{
    margin-top: 20px;
    padding: 0 15px;
    @media screen and (min-width: 768px) {
        padding-left: var(--con);
        padding-right: var(--con);
    }
    @media screen and (min-width: 1024px) {
        padding-right: calc(var(--con) - 100px);
    }
    &__content{
        position: relative;
        margin-top: 170px;
        padding: 165px 15px 25px;
        border-radius: 40px;
        background-color: #fff;
        @media screen and (min-width: 1024px) {
            width: 75%;
            margin-top: 80px;
            margin-right: auto;
            padding-top: 45px;
            padding-bottom: 60px;
            padding-right: 340px;
        }
    }
    &__med{
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 300px;
        @media screen and (min-width: 1024px) {
            height: 475px;
            top: 50%;
            left: unset;
            right: -230px;
            transform: translate(0, -50%);
        }
    }
    &__title{
        br{
            display: none;
        }
        &::after{
            left: 0;
            @media screen and (min-width: 1024px) {
                left: unset;
                right: 0;
            }
        }
        @media screen and (min-width: 768px) {
            margin: 0 auto 60px;
            width: fit-content;
        }
        @media screen and (min-width: 1024px) {
            width: auto;
            text-align: end;
            left: unset;
            right: 0;
            br{
                display: inline;
            }
        }
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 768px) {
            margin: 0 auto;
            width: fit-content;
        }
        @media screen and (min-width: 1024px) {
            width: auto;
            margin: 0;
        }
        
    }
    &__item{
        padding-left: 40px;
        font-size: 14px;
        line-height: 25px;
        background-size: 25px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.17062 9.17808C9.2799 9.06873 9.4281 9.00729 9.58262 9.00729C9.73715 9.00729 9.88534 9.06873 9.99462 9.17808L12.4964 11.6823L14.9981 9.17808C15.0518 9.12237 15.1161 9.07793 15.1872 9.04736C15.2583 9.01679 15.3348 9.0007 15.4122 9.00002C15.4896 8.99935 15.5663 9.01411 15.6379 9.04344C15.7095 9.07277 15.7746 9.11608 15.8293 9.17085C15.884 9.22563 15.9273 9.29076 15.9566 9.36244C15.9859 9.43413 16.0007 9.51095 16 9.5884C15.9993 9.66586 15.9832 9.7424 15.9527 9.81357C15.9221 9.88474 15.8778 9.94911 15.8221 10.0029L13.3204 12.5072L15.8221 15.0114C15.9282 15.1214 15.987 15.2688 15.9857 15.4217C15.9843 15.5747 15.923 15.721 15.815 15.8291C15.7069 15.9373 15.5608 15.9986 15.408 16C15.2552 16.0013 15.108 15.9425 14.9981 15.8363L12.4964 13.332L9.99462 15.8363C9.88472 15.9425 9.73751 16.0013 9.58472 16C9.43193 15.9986 9.28577 15.9373 9.17772 15.8291C9.06967 15.721 9.00839 15.5747 9.00706 15.4217C9.00573 15.2688 9.06447 15.1214 9.17062 15.0114L11.6724 12.5072L9.17062 10.0029C9.06137 9.89353 9 9.74518 9 9.5905C9 9.43582 9.06137 9.28748 9.17062 9.17808Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='23.339' y1='22.4872' x2='1.86314' y2='1.11796' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        & + &{
            margin-top: 30px;
        }
        @media screen and (min-width: 1024px) {
            padding-left: 0;
            padding-right: 45px;
            text-align: end;
            font-size: 16px;
            background-position: right center;
        }
    }
}