.order{
    margin-top: 45px;
    padding: 0 15px;
    @include cont();
    @media screen and (min-width: 1024px) {
        margin-top: 70px;
    }
    &__con{
        @media screen and (min-width: 768px) {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            
        }
    }
    &__descr{
        @media screen and (min-width: 768px) {
            width: 50%;
            margin-right: 30px;
        }
        
        @media screen and (min-width: 768px) {
            width: 45%;
            margin-right: 65px;
        }


    }
    &__title{
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: end;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 42px;
        }
    }
    &__title-logo{
        display: inline-block;
        margin-top: 20px;
        width: 125px;
        @media screen and (min-width: 768px) {
            display: block;
            margin-left: auto;
            margin-bottom: 15px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 0;
        }
    }
    &__text{
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #272727;
        @media screen and (min-width: 768px) {
            text-align: end;
            br{
                display: none;
            }
        }
        @media screen and (min-width: 1024px) {
            margin-left: auto;
            max-width: 485px;
            font-size: 19px;
        }
        & + &{
            margin-top: 20px;
        }
        &--special{
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #5F5F5F;
        }
        &--marked{
            font-weight: bold;
            color: $blue;
        }
        &--form{
            @media screen and (min-width: 1024px) {
                font-size: 15px;
                br{
                    display: inline;
                }
            }
        }
    }
    &__btns{
        margin-top: 40px;
        margin-left: auto;
        max-width: 400px;
        .price-value__name{
            color: #A9A9A9;
        }
    }
    &__pic{
        display: block;
        margin: 65px auto 0;
        width: 260px;
        @media screen and (min-width: 768px) {
            width: 45%;
            margin: 0;
        }
        @media screen and (min-width: 1024px) {
            width: 30%;
        }
    }
    &__form{
        padding: 30px 25px 25px;
        background: #FFFFFF;
        border-radius: 40px;
        @media screen and (min-width: 768px) {
            width: 100%;
            flex: 100% 1 0;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 30px 50px;
        }
    }
    &__input{
        display: block;
        width: 100%;
        margin: 20px 0 15px;
        padding: 15px 40px;
        text-align: start;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        background: #FFFFFF;
        border: 2px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 200px;
        outline-color: $blue;
        &::placeholder{
            text-align: start;
            font-weight: bold;
            font-size: 13px;
            line-height: 30px;
        }
        @media screen and (min-width: 1024px) {
            margin: 0 20px;
            max-width: 350px;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 30px;
        }
    }
    &__btn{
        @media screen and (min-width: 1024px) {
            max-width: 200px;
        }
        
    }
}