.price{
    .header{}
    .header__nav,
    .header__btns{
        display: none;
    }
    .wrapper--price{
        display: block;
    }
}
.wrapper--price{
    padding-left: calc(var(--con) / 2)!important;
    padding-right: var(--con);   
}
.price-con{
    position: relative;
    margin-bottom: 150px;
    padding: 20px 0 230px;
    background-color: #fff;
    border-radius: 40px;
    @media (min-width: 1024px){
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: calc(var(--con) / 2);
    }
    &__description{
        @media (min-width: 1024px){
            width: 65%;
        }
    }
    &__text{
        margin: 0;
        padding: 0 30px;
        @media (min-width: 1024px){
            padding: 0;
        }
        &--marked{
            color: $blue;
        }
        &--first{
            font-size: 15px;
            line-height: 22px;
            span{
                display: block;
            }
            @media (min-width: 1024px){
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 22px;
            }
        }
        &--peoples{
            margin-top: 10px;
            color: $blue;
            text-align: end;
            font-weight: bold;
            @media (min-width: 1024px){
                font-size: 16px;
                line-height: 19px;
                text-align: start;
            }
        }
        &--number{
            display: block;
            text-align: center;
            font-size: 54px;
            line-height: 1;
            color: $font-color;
            @media (min-width: 1024px){
                display: inline-block;
                font-size: 110px;
                line-height: 131px;
            }
        }
        &--big{
            margin-top: 30px;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            @media (min-width: 1024px){
                margin-top: 5px;
                font-size: 25px;
                line-height: 35px;
            }
        }
        &--small{
            margin-top: 20px;
            font-size: 14px;
            line-height: 24px;
            color: #5F5F5F;
            @media (min-width: 1024px){
                margin-top: 30px;
                font-size: 15px;
                line-height: 26px;
            }
        }
        
    }
    &__img{
        position: absolute;
        left: 50%;
        bottom: -140px;
        transform: translate(-50%, 0);
        display: block;
        width: 310px;
        height: 350px;
        object-fit: contain;
        @media (min-width: 1024px){
            top: 50%;
            left: unset;
            right: -30%;
            transform: translate(0, -50%);
            width: auto;
            height: 70%;
        }
        @media (min-width: 1200px){
            right: -20%;
            height: 80%;
            
        }
    }
}
.price-value{
    position: relative;
    &__radio{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        &:checked + .price-value__name{
            box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.11);
            background-color: #fff;
            color: $blue;
        }
    }
    &__name{
        display: block;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        border-radius: 15px;
        transition: 0.5s;
    }
}
.price-all{
    margin: 30px 0 0;
    padding: 0 10px;
    @media (min-width: 1024px){
        padding: 0;
    }
    &__con{
        padding: 15px 20px 40px;
        background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
        border-radius: 30px;
        @media (min-width: 1024px){
            padding: 30px;
            padding-right: 100px;
        }
        
    }
    &__text{
        margin: 0 0 20px;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        &--small{
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__btns{
        margin-top: 25px;
        margin-bottom: 30px;
        @media (min-width: 1024px){
            flex-grow: 1;
            margin: 0;
        }
    }
    &__form{
        @media (min-width: 1024px){
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            column-gap: 30px;
            margin-top: 30px;
            .btn{
                width: 140px;
            }
        }

    }
}
.price-btns{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    &__label{
        flex-grow: 1;
    }
}
.price-value{
    display: block;
}