.quest-page{
    .wrapper--quest{
        display: block;
    }
}
.quest-page{
    .header{
        padding-bottom: 0;
    }
    .header__nav,
    .header__btns{
        display: none;
    }
    @media screen and (min-width: 1024px) {
        .header{
        }
    }
}
.questions{
    padding: 0 20px;
    @media (min-width:768px){
        @include cont;
    }
}
.quest{
    min-height: calc(100vh - 50px);
    padding: 80px 0 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
        min-height: calc(100vh - 70px);
    }
    @media screen and (min-width: 1024px) {
        padding-bottom: 60px;
    }
    &__header{
        margin-bottom: 30px;
    }
    &__title{
        margin: 0 0 18px;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.02em;  
        color: #272727;
        @media screen and (min-width: 1024px) {
            margin-bottom: 10px;
        }
    }
    &__choose{
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        color: #5F5F5F;
    }
    &__content{
        position: relative;
        min-height: 350px;
        width: 100%;
        flex-grow: 1;
    }
    &__footer{
        width: 100%;
    }
    &-number{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
        color: #5F5F5F;
        &__active{
            font-weight: bold;
            font-size: 33px;
            line-height: 28px;
            @media screen and (min-width: 1024px) {
                font-size: 33px;
                line-height: 28px;
            }
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__bar{
        margin-bottom: 25px;
        background: #E8E8E8;
        border-radius: 200px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 80px;
        }
    }
    &__ready{
        width: 0%;
        height: 4px;
        background: #3148F7;
        border-radius: 200px;
    }
    &__btn{
        width: 100%;
    }
}
.variants{
    @media screen and (min-width: 1024px) {
        max-width: 670px;
    }
    &__label{
        position: relative;
        display: block;
        &:hover{
            .variants__name{
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), inset 0px -6px 22px #FFFFFF;
            }
        }
        & + &{
            margin-top: 15px;
        }
    }
    &__radio{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        &:checked + .variants__name--check{
            column-gap: 10px;
            .variants__icon{
                width: 20px;
            }
        }
        &:checked + .variants__name{
            transform: translateX(10px);
            color: #3561EE;
        }
    }
    &__input{
        display: block;
        width: 100%;
        padding: 20px 25px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
        border-radius: 20px;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #272727;
        transition: 0.5s;
        box-sizing: border-box;
        border: none;
        &:hover{
            outline-color: $blue;
        }
    }
    &__name{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 25px;
        padding: 20px 25px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12), inset 0px -6px 22px #FFFFFF;
        border-radius: 20px;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #272727;
        transition: 0.5s;
        &--check{
            column-gap: 0;
            .variants__icon{
                width: 0;
                height: 15px;
            }
        }
    }
    &__icon{
        height: 30px;
        width: auto;
        flex-shrink: 0;
        transition: 0.5s;
        img{
            height: inherit;
        }
    }
}
.next{
    animation: next 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.one-quest{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    padding-bottom: 30px;
    // overflow: scroll;
    &:nth-child(n + 1){
        // visibility: hidden;
    }
    &--active{
        left: 0;
        position: relative;
    }
    &--passed{
        left: -100%;
        opacity: 0;
        visibility: hidden;
    }
    &--hidden{
        left: 100%;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes pass{
    0%{
        opacity: 1;
        transform: translateX(0%);
        left: -100%;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
        visibility: hidden;
        display: none;
        // position: relative;
    }
}
@keyframes next{
    0%{
        opacity: 0;
        left: -100%;
    }
    100%{
        opacity: 1;
        visibility: visible;
        left: 0;
    }
}
