.result{
    margin-top: 45px;
    padding: 0 15px;
    @include cont;
    @media screen and (min-width: 768px){
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    &__header{
        @media screen and (min-width: 768px){
            margin-right: 50px;
        }
        @media screen and (min-width: 1024px){
            margin-right: 90px;
        }

    }
    &__title{
        margin-bottom: 15px;
        text-align: center;
        @media screen and (min-width: 768px){
            text-align: end;
        }
        @media screen and (min-width: 1024px){
            font-size: 30px;
            margin-bottom: 5px;
        }
    }
    &__text{
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #5F5F5F;
        @media screen and (min-width: 768px){
            text-align: end;
        }
        @media screen and (min-width: 1024px){
            font-size: 16px;
            line-height: 26px;
        }
    }
    &__list{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 35px;
        @media screen and (min-width: 768px) {
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: -30px;
                left: -30px;
                z-index: -1;
                width: 120px;
                height: 120px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 219 219' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='109.5' cy='109.5' r='103.5' stroke='url(%23paintlinear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paintlinear' x1='204.45' y1='196.988' x2='16.3211' y2='9.79335' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                @media screen and (min-width: 1024px) {
                    width: 220px;
                    height: 220px;
                    left: -55px;
                    top: -55px;
                }
            }

        }
    }
    &__one{
        flex-basis: 50%;
        & + &{
            margin-left: 20px;
            @media screen and (min-width: 1024px) {
                margin-left: 35px;
            }
        }
    }
}
.result-part{
    max-width: 255px;
    &__pic{
        display: block;
        width: 100%;
    }
    &__title{
        margin: 35px 0 20px;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        @media screen and (min-width: 1024px){
            margin: 15px 0 10px;
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__text{
        margin: 0;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #5F5F5F;
        @media screen and (min-width: 1024px){
            font-size: 13px;
            line-height: 22px;
        }
        
    }
}