.title{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    &__blue{
        display: block;
        color: $blue-font;
        font-weight: 700;
    }
    &--login{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 56px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 55px;
        line-height: 66px;
    }
}
.subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    &--lined{
        position: relative;
        margin: 0 0 40px;
        &::after{
            content: "";
            position: absolute;
            bottom: -18px;
            left: 15px;
            height: 5px;
            width: 40px;
            background: linear-gradient(314.86deg, #2E36FD 8.34%, #3CACCF 94.03%);
            border-radius: 200px;
            @media (min-width: 768px){
                left: 0;
                bottom: -28px;
            }
        }
        @media (min-width: 768px){
            padding: 0;
            margin-bottom: 50px;

        }
    }
    @media screen and (min-width: 1024px) {
        font-size: 35px;
        line-height: 40px;
    }
}