$font: 'SF UI Display';

$sm: 728px;
$md: 964px;
$lg: 1154px;

$main-bg: #F5F5F5;
$font-color: #272727;
$blue: #3148F7;
$blue-font: #2F3DFB;
:root{
    --con: 15px;
    --cont: 740px;
    @media (min-width: 768px){
        --con: calc((100vw - var(--cont)) / 2);
    }
    @media (min-width: 1024px){
        --cont: 960px
    }
    @media (min-width: 1200px){
        --cont: 1180px
    }

}

@mixin cont(){
    @media (min-width: 768px){
        padding-left: var(--con);
        padding-right: var(--con);
        // width: $sm;
        // padding-left: ;
        // padding-right: auto;
    }
    @media (min-width: 1024px){
        // width: $md;
    }
    @media (min-width: 1200px){
        // width: $lg;
    }
}
@mixin flex($direction:row, $wrap: nowrap, $justify:space-between, $align:center){
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
}