.way{
    padding: 0 15px;
    @include cont;
    &__content{
        position: relative;
        margin-top: 120px;
        margin-bottom: 110px;
        padding: 100px 25px 30px;
        border-radius: 40px;
        background-color: #fff;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -75px;
            transform: translate(-50%, 0);
            z-index: -1;
            width: 150px;
            height: 150px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 154 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='77' cy='77' r='71' stroke='url(%23paint0_linear)' stroke-width='12'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='143.768' y1='138.521' x2='11.477' y2='6.88665' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232E36FD'/%3E%3Cstop offset='1' stop-color='%233CACCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            @media screen and (min-width: 1024px) {
                bottom: -50px;
            }
        }
        @media screen and (min-width: 1024px) {
            margin-top: 200px;
            padding: 80px 0 50px;
        }
    }
    &__doc{
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 200px;
        @media screen and (min-width: 1024px) {
            height: 220px;
            width: auto;
            top: -145px;
        }
    }
    &__title{
        margin: 0 0 15px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        @media screen and (min-width: 768px) {
            
        }
        @media screen and (min-width: 1024px) {
            font-size: 30px;
            line-height: 36px;

        }
    }
    &__text{
        margin: 0 0 25px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        @media screen and (min-width: 768px) {
            
        }
        @media screen and (min-width: 1024px) {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 30px;
        }
    }
    &__btn{
        width: fit-content;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        @media screen and (min-width: 768px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}