@import "normalize";
@import "slick";
@import "fonts";
@import "vars";
@import "typography";
@import "btn";
@import "header";
@import "footer";
@import "first";
@import "login";
@import "questions";
@import "load";
@import "price";
@import "gipertonia";
@import "minuses";
@import "way";
@import "interview";
@import "infograph";
@import "about";
@import "order";
@import "result";
@import "feedbacks";
@import "buy-now";
@import "preloader";
body{
    min-height: 100vh;
    color: $font-color;
    font-family: $font;
    background-color: $main-bg;
    &.login{
        background: url(../images/login/login-bg.jpg) center center no-repeat;
        background-size: cover;
    }
}
.wrapper{
    overflow: hidden;
    &--land{
        display: none;
    }
    &--login{
        display: none;
    }
    &--quest{
        display: none;
    }
    &--loading{
        display: none;
    }
    &--price{
        display: none;
    }
}
.landing{
    .wrapper--land{
        display: block;
    }
}
*{
    box-sizing: border-box;
}
picture{
    line-height: 0;
    img{
        width: 100%;
    }
}
button{
    cursor: pointer;
}